@media screen and (max-width: 800px) {
	/* Whichever class has  an additional class of lg__screen, it wont be displayed in mobile view */
	.lg__screen {
		display: none;
	}
	body {
		/* background-color: blueviolet; */
	}

	.home {
		background-image: url("/assests/Group\ 1020.png");
		background-color: #cccccc;
		left: 0px;
		width: 100vw;
		height: 100vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		/* position: absolute; */
		top: 0px;
		padding-left: 0px;
	}

	/* Styles for the Navbar Component Starts Here */

	.navbar {
		display: flex;
		top: 0px;
		left: 0px;

		background-color: white;

		padding: 15px;
	}
	.navbar__left {
		flex: 0.5;
		/* top: 0px;
	left: 0px;
	width: 1920px;
	height: 91px; */
		display: flex;
		flex-direction: column;
		align-content: center;
		font-weight: 600;
		/* background: transparent url('/assests/The\ IT\ Company.svg') 0% 0% no-repeat padding-box; */
		opacity: 1;
	}
	.navbar__right {
		display: none;
		/* display: flex; */
		flex: 0.5;
		justify-content: space-evenly;
		align-items: center;
		font-weight: 600;
		letter-spacing: 0px;
		color: #000000;
		opacity: 1;
	}

	/* .navbar__right > div {
	
} */
	.hamburger {
		display: flex;
		flex: 0.5;
		padding: 3px;
		margin-right: 3vw;
		flex-direction: row-reverse;
	}

	/* Styles for home class members start here */

	.home__center {
		text-align: center;
		color: white;

		/* background-color: red; */

		/* This make the text good to go for mobiles  */
		/* Nudge the value if not going good */
		padding: 10vw;
		padding-bottom: 0px;

		margin: 50px;
		margin-bottom: 0px;
		font-weight: lighter;
	}
	.home__centerParagraph {
		display: grid;
		color: white;
		font-size: smaller;
		grid-template-columns: 1fr 10fr 1fr;
	}

	.home__scrolldownText {
		display: none;
		font-weight: lighter;
		letter-spacing: 0px;
		color: rgb(206, 202, 202);
	}
	.home__scrolldownSvg {
		display: none;
		text-align: center;
	}

	/* Design for Engineering Impact Component of the Page Starts here */

	.impact__text {
		display: flexbox;
		align-items: center;
		padding: 5vw 25vw 5vw 5vw;
	}
	.impact__textHeader {
		font-weight: bold;
		font-size: 2rem;
	}
	.impact__img > img {
		width: 90vw;
		padding: 2vw 5vw 2vw 5vw;
	}

	/* Styles for Leadership section starts here */

	.leadership__header {
		font: normal normal 600 30px/41px Poppins;
		/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
		text-align: center;
		font-weight: 900;
		letter-spacing: 0px;
	}
	.leadership__cards {
		width: 90vw;
		padding: 2vw 0vw 2vw 0vw;
		margin-bottom: 5vw;
	}
	.leadership__card {
		padding: 5vw 25vw 5vw 5vw;
		margin-bottom: 7vw;
		box-shadow: 0px 3px 6px #00000012;
	}
	.leadership__card > img {
		width: 80vw;
	}
	.leadership__cardName {
		letter-spacing: 0px;
		font: normal normal 300 18px/27px Poppins;
	}
	.leadership__cardCeo {
		font: normal normal normal 21px/36px Poppins;
		letter-spacing: 0px;
	}

	/* Styles for People class starts here  */
	.people {
		width: 100vw;
	}
	.people__header {
		text-align: center;
		font: normal normal 600 20px/31px Poppins;
		margin: 5vw 0 5vw 0;
	}
	.people__imgs {
		width: 100vw;
		/* margin: 30px 80px 30px 0px; */
		display: flex;
		overflow-x: scroll;
	}
	.people__imgs > img {
		width: 55vw;
		/* padding: 0px 20px 0px 20px; */
		padding-right: 20px;
		margin-right: 20px;
	}

	/* Added to hide the scroll bar for sliding the images */

	/* Hide scrollbar for Chrome, Safari and Opera */
	.people__imgs::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.people__imgs {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	/* Stykes for class Contact starts here */

	.contact {
		margin: 15vh 15vh 0 8vh;
	}
	.contact__left {
		margin: 60px;
		display: grid;
		grid-template-rows: 1fr 1fr;
	}

	.contact__leftHeader {
		font-weight: 700;
		color: #0c66b4;
		font-size: x-large;
	}
	.contact__right > img {
		width: 70vw;
	}

	.leftButton {
		background: #f3f3f3 0% 0% no-repeat padding-box;
		border-radius: 12px;
		opacity: 1;
	}

	.rightButton {
		background: #5da1fa 0% 0% no-repeat padding-box;
		border-radius: 12px;
		opacity: 1;
	}

	/* Styles for Footer class starts here */

	.footer {
		font-size: large;
		background-color: black;
		color: white;
		padding: 10vh 5vh 0vh 5vh;
	}

	.footer__rightTop {
		padding: 5vw 0 5vw 0;
	}
	.footer__leftBottom {
		padding: 5vw 0 0 0;
	}
}
